<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>8.0</string>
	<key>CFBundleDisplayName</key>
	<string>GestionFC</string>
	<key>CFBundleIdentifier</key>
	<string>com.icap.GestionFC</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>CFBundleName</key>
	<string>GestionFC</string>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
	<key>UIAppFonts</key>
	<array>
		<string>Poppins-Black</string>
		<string>Poppins-BlackItalic</string>
		<string>Poppins-Bold</string>
		<string>Poppins-BoldItalic</string>
		<string>Poppins-ExtraBold</string>
		<string>Poppins-ExtraBoldItalic</string>
		<string>Poppins-ExtraLight</string>
		<string>Poppins-ExtraLightItalic</string>
		<string>Poppins-Italic</string>
		<string>Poppins-Light</string>
		<string>Poppins-LightItalic</string>
		<string>Poppins-Medium</string>
		<string>Poppins-MediumItalic</string>
		<string>Poppins-Regular</string>
		<string>Poppins-SemiBold</string>
		<string>Poppins-SemiBoldItalic</string>
		<string>Poppins-Thin</string>
		<string>Poppins-ThinItalic</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>mojepanstwo.pl</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
</dict>
</plist>
